name: Build and Deploy

on:
  pull_request:
  push:
    branches:         # array of glob patterns matching against refs/heads. Optional; defaults to all
    - master          # triggers on pushes that contain changes in master

env:
  IMAGE: top-socks/animated-gif-service:${{ github.sha }}

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1.0.0

    - name: Cache node_modules
      id: cache
      uses: actions/cache@v1
      with:
        path: app/node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
          
    - name: Install
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cd app && npm ci

    - name: Test
      run: |
        cd app && npm t

    - name: Audit
      run: |
        cd app && npm audit

    - name: Build
      run: |
        docker build -t $IMAGE .

    - name: Scan image
      uses: anchore/scan-action@v1.0.0
      with:
        image-reference: $IMAGE
        fail-build: true
        dockerfile-path: ./Dockerfile

    - name: Deploy
      if: github.ref == 'refs/heads/master'
      run: |
        GPR_REPO=docker.pkg.github.com/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')/production:${{ github.sha }}
        docker tag $IMAGE $GPR_REPO
        echo ${{ secrets.GITHUB_TOKEN }} | docker login -u ${{ github.actor }} docker.pkg.github.com --password-stdin
        docker push $GPR_REPO
